/* General Styles */
body {
  font-family: "Raleway", sans-serif;
  color: black;
  width: 100%;
  margin: 0;
  padding-top: 12rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

/* Header */
header {
  background-color: #a9ba9d;
  color: white;
  padding: 0px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  margin: 0;
}

/* Navigation */
nav {
  background-color: #a9ba9d; /* Ensure this matches the header color */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: auto;
  top: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; /* Remove default bullet points */
  text-align: center;
}

li {
  display: inline;
  padding: 10px;
}

/* Splash Image */
.splash-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Content Layout */
#content,
section {
  overflow: auto;
  height: 100%;
  padding: 20px;
}

.column1,
.column2,
.column3 {
  float: left;
  margin: 10px;
}

/* Main Section */
main {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

/* Article */
article {
  padding: 10px;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Video */
.video {
  display: block;
  margin: auto;
  padding-bottom: 5em;
  height: auto;
}

/* Footer */
footer {
  background-color: #a9ba9d; /* Ensure this matches the header and nav color */
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.textContent {
  text-align: center;
  margin: 20px;
}

img.imgContent {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 3em;
}

.links {
  text-align: center;
}

.buttonLinks {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a9ba9d; /* Button color */
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonLinks:hover {
  background-color: rgb(129, 103, 69);
}
